
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class

*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

venv/
env/
ENV/
.venv/
.env.bak

.env
*.env


.vscode/
.idea/
*.swp
*~
.project
.pydevproject


*/migrations/__pycache__/
*/migrations/*.pyc


.DS_Store
Thumbs.db

htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

pip-log.txt
pip-delete-this-directory.txt
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg

.ipynb_checkpoints

/mnt/c/
